<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.team2409.model.mapper.MstProductMapper">

	<select id="findByCategoryAndProductName" resultType="jp.co.internous.team2409.model.domain.MstProduct">
		SELECT * FROM mst_product
		WHERE category_id = #{category}
		AND
		<foreach item="keyword" collection="keywords" index="index" open="(" close=")" separator=" ">
		  <if test="index == 0">
		    (product_name LIKE CONCAT('%', #{keyword}, '%'))
		  </if>
		  <if test="index > 0">
		    OR (product_name LIKE CONCAT('%', #{keyword}, '%'))
		  </if>
		</foreach>
	</select>
	
	<select id="findByProductName" resultType="jp.co.internous.team2409.model.domain.MstProduct">
		SELECT * FROM mst_product
		WHERE
		<foreach item="keyword" collection="keywords" index="index" open="(" close=")" separator=" ">
		  <if test="index == 0">
		    (product_name LIKE CONCAT('%', #{keyword}, '%'))
		  </if>
		  <if test="index > 0">
		    OR (product_name LIKE CONCAT('%', #{keyword}, '%'))
		  </if>
		</foreach>
	</select>
	
</mapper>